{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [ "eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:lit-a11y/recommended"],
  "plugins": ["lit-a11y", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "litHtmlSources": true
  },
  "rules": {
    "semi": ["error", "never"]
  }
}